.postLayout {
  grid-area: main;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  gap: 50px;
  grid-template-rows: repeat(3, auto);
}

.post {
  gap: 15px;
}

.post:first-child {
  text-align: center;
}
