* {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 500px 100px;
  grid-auto-flow: column;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
}
